@import url(reset.css);
@import url(variables.css);
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700&family=Roboto:wght@400;700&display=swap");

body {
  font-family: "League Spartan", sans-serif;
  color: white;
}

body {
  background-color: #070724;
  background-image: url(img/background-stars.svg);
}

ul {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 68px;
  max-width: 100vw;
}

.title {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: white;
}

.line {
  width: 80vw;
  height: 1px;
  background-color: white;
  opacity: 0.2;
}

.line-header {
  width: 100vw;
  height: 1px;
  background-color: white;
  opacity: 0.2;
}

main {
  width: 100vw;
}

.menu-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 7% auto;
  align-items: center;
}

.planet {
  width: 100%;
  padding: 20px;
  display: flex;
}

.planet-dot {
  width: 20px;
  height: 20px;

  border-radius: 50%;
  margin-right: 25px;
}

#Mercury {
  background: #def4fc;
}
#Venus {
  background: #f7cc7f;
}

#Earth {
  background: #545bfe;
}
#Mars {
  background: #ff6a45;
}

#Jupiter {
  background: #ecad7a;
}
#Saturn {
  background: #fccb6b;
}

#Uranus {
  background: #65f0d5;
}
#Neptune {
  background: #497efa;
}

.planet > a {
  text-align: center;
  text-decoration: none;
  color: white;
  margin: auto 0;
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  opacity: 0.3;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow-container {
  margin-left: auto;
}

.planets-all {
  display: none;
}
#big-hamburger {
  display: none;
}

/* Tablet */

@media only screen and (min-width: 768px) {
  .planets-all {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10vh;
    width: 100%;
    margin: 0 auto 10vh auto;
  }

  .menu-container {
    width: 60%;
    align-items: flex-end;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .line {
    width: 100%;
  }

  .single-planet:nth-child(1) {
    width: 3%;
    height: 3%;
  }

  .single-planet:nth-child(2) {
    width: 5%;
    height: 5%;
  }
  .single-planet:nth-child(3) {
    width: 6%;
    height: 6%;
  }
  .single-planet:nth-child(4) {
    width: 5%;
    height: 5%;
  }
  .single-planet:nth-child(5) {
    width: 12%;
    height: 12%;
  }
  .single-planet:nth-child(6) {
    width: 12%;
    height: 12%;
  }
  .single-planet:nth-child(7) {
    width: 10%;
    height: 10%;
  }
  .single-planet:nth-child(8) {
    width: 9%;
    height: 9%;
  }

  .single-planet:nth-of-type(even) {
    margin-top: 50px;
  }

  .single-planet:nth-of-type(odd) {
    margin-bottom: 50px;
  }

  .planet {
    padding: 35px;
  }

  .planet > a {
    font-size: 24px;
  }
  nav {
    width: 70%;
    margin: 0 auto;
  }
  #small-hamburger {
    display: none;
  }
  #big-hamburger {
    display: block;
  }
}

@media only screen and (min-width: 1260px) {
  .planets-all {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10vh;
    width: 80%;
    margin: 3% auto;
  }

  .title {
    font-size: 40px;
  }

  .menu-container {
    width: 40%;
    align-items: flex-end;
  }

  .single-planet:nth-child(6) {
    width: 16%;
    height: 16%;
  }

  .planet {
    padding: 15px 0;
  }

  .planet > a {
    font-size: 24px;
  }
  nav {
    width: 50%;
    margin: 0 auto;
  }

  #big-hamburger {
    display: none;
  }

  .arrow {
    opacity: 0.5;
    border-width: 0 4px 4px 0;
    padding: 4px;
  }

  .title {
    margin: 0 auto;
  }
}
