@import url(reset.css);
@import url(variables.css);
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700&family=Roboto:wght@400;700&display=swap");

body {
  font-family: "League Spartan", sans-serif;
  color: white;
}

body {
  background-color: #070724;
  background-image: url(img/background-stars.svg);
  max-width: 100vw;
}

ul {
  display: none;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 68px;
  max-width: 100%;
}

.title {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: white;
}

.line {
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: 0.2;
}

.menu-container {
  display: flex;
  justify-content: center;

  align-items: center;
  width: 100vw;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: transparent;
  border: none;
  width: 33.33%;
  border-radius: 10px;
}

.menu-button > p {
  display: none;
}

.menu-button > a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

#bolded {
  opacity: 1;
}

/* .menu-button:active {
  border-bottom: 4px solid #419ebb;
} */

.menu-clicked {
  background-color: #419ebb;
}

.planet {
  width: 28%;
  margin: 28% auto;
}

.main-body-container {
  margin-top: 3%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planet-name {
  font-size: 40px;
  text-align: center;
  margin: 5% 0;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.content > p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  opacity: 0.5;
}

.source {
  padding: 20px 0;
  font-weight: 100;
}

.source > a {
  color: white;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.planet-info {
  height: 15%;
  width: 80%;
  margin: 2% 0;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.5);

  padding: 20px 15px;
}

.planet-info:last-of-type {
  margin-bottom: 10%;
}

.planet-info > h2,
.planet-info > p {
  display: inline;
}
.planet-info > h2 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: -0.75px;
}
.planet-data {
  letter-spacing: -0.75px;
}

/* tablet */

@media only screen and (min-width: 768px) {
  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  li {
    margin: 0 0 40px 0;
  }
  li > a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  #icon {
    display: none;
  }
  .nav-header {
    flex-direction: column;
    height: 12.5vh;
    padding: 20px 40px;
  }
  .title {
    padding: 50px 0 40px 0;
    font-size: 30px;
  }
  .menu-button:nth-child(1) {
    border-radius: 10px;
  }

  main {
    display: flex;
  }
  .menu {
    order: 2;
    width: 100%;
    margin: 0 auto;
  }

  .menu-button {
    display: flex;
  }

  .menu-button > p {
    display: block;
    color: white;
    opacity: 0.3;
    margin-right: 50px;
  }

  .menu-button > a {
    opacity: 1;
  }

  .line {
    display: none;
  }

  .content {
    order: 2;
  }
  .data {
    order: 4;
  }
  .planet {
    width: 30%;
    margin: 8% auto;
    order: 1;
  }

  .planet-info {
    width: 60%;
    justify-content: space-around;
  }

  .line-header {
    width: 100%;
    height: 1px;
    background-color: white;
    opacity: 0.2;
  }
  .planet-info > h2 {
    font-size: 18px;
    color: rgba(255, 255, 255);
  }

  .menu-container {
    flex-direction: column;
  }
  .line:last-of-type {
    display: none;
  }
}

@media only screen and (min-width: 1260px) {
  ul {
    width: 60%;
  }
  header {
    margin-bottom: 25px;
  }

  .main-body-container {
    flex-direction: column;
    justify-content: center;
    width: 60%;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .menu-container {
    width: 70%;
    margin: 0 auto;
  }
  .menu {
    width: 100%;
    order: 3;
    margin: 2% 0;
  }
  .menu-button {
    justify-content: space-between;
    width: 100%;
    padding: 0 20%;
  }
  .planet {
    width: 30%;
    order: 1;
    margin: 4% 2% 2%;
  }
  .content {
    order: 2;
    width: 45%;
    margin: 0;
  }
  .data {
    order: 3;
    margin: 0 auto;
    width: 95%;
  }
  .planet-name {
    margin: 20px;
  }

  .menu-button:hover {
    background-color: #419ebb;
    transition: 0.3s;
  }

  .content {
    width: 70%;
  }
  .content > p {
    width: 100%;
  }
}
